.app {
	text-align: center;

	.minimal-container {
		min-height: 100vh;
	}
}

.app-header {
	color: #ffffff;

	.title {
		display: inline-block;
		padding: 0px 10px;
		color: #ffffff;
		position: relative;
		bottom: 10px;
	}

	.img {
		height: 35px;
		width: 35px;
	}
}
